body{
    background-color: #1a1a1a;
    color: #fff !important;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: cursive !important;
}
a{
    color: #fff !important;
    text-decoration: none;
}
hr{
    display: none;
}
th:not(:nth-of-type(2)){
    text-align: right
}
table{
    border-collapse: collapse;
    font-size: 24px;
    width: 100%
}
table tr td{
    padding: 10px
}
table tr td:first-of-type{
    width: 32px;
    vertical-align:middle;
    padding-bottom: 0px;
    text-align: center;
    align-items: center;
}
tr:nth-child(2n+1){
    background-color: #222
}
tr:nth-child(2n){
    background-color: #111
}
iframe{
    border: 0px solid #0000;
    height: 40px;
    width: calc(100% - 150px);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    z-index: 5;

}
div.odtwarzacz-spacer{
    display: block;
    height: 80px;
    width: 100%;
}
div.selektor{
    height: 40px;
    width: 150px;
    position: fixed;
    top:0;
    right:0;
}
.selektor{
    background-color: #1a1a1a;
    z-index: 5;
}
.selektor table{
    height: 40px
}
.selektor table, .selektor table *{
    background-color: #0000 !important;
    margin: 0;
    border: 0;
    padding: 0;
    user-select: none;
}
h1{
    background-color: #1a1a1a;
    width: 100%;
    color: #fff;
    font-size: 32px;
    margin: 0px;
    text-align: center;
    display: block;
    position: fixed;
    left: 0;
    right:0;
    transition: 300ms;
}
h1.widoczne{

    top: 40px;

}
h1.niewidoczne{
    top: -40px;
}
